venv
application/site.db
application/test.db
app/static/podcasts/*.mp3
!application/static/podcasts/fixture.mp3
application/static/avatars/*
!application/static/avatars/default.jpg
application/static/podcast_covers/*
!application/static/podcast_covers/default.jpg
application/.env
**/*.pyc
.idea/**
**/node_modules
application/static/js/main.js
**/*.log
application/frontend/.env